*,*:after,*:before{font-family:arial;}
*{margin-top: 0;}
header,main,footer {display: block; /* IE */}
*:focus{outline: 2px solid #921c2b; outline-offset: 2px; text-decoration: none;}
body,html{background:#fafafa;color:#450c13;font-size:20px;line-height:1.3;margin:0;padding:0;}
.content-area{padding:20px;margin:auto; max-width:680px;}
button{border:1px solid transparent; margin:0;}
a{color:#921c2b}
.btn, [role="button"]{background:#921c2b;border:1px solid #4d0912;color:#fff;cursor:default;display:inline-block;font-size:.825em;line-height:1;margin-bottom:12px;padding:16px 24px;position:relative;text-align:center;transition:transform .2s, background .2s; text-decoration: none}
.btn:hover,.btn:focus, [role="button"]:hover, [role="button"]:focus{background:#c12f48;}
label{display:inline-block;font-size:.75em;font-weight:bold;margin-bottom:.5em}
input[type="text"]{border:1px solid #333;display:block;font-size:1.4em;margin-bottom:1em;min-width:230px;padding:.5em;width:100%}
label{margin-top:1.125em}
/** demo styles */
a.at-only:focus { background: white; padding: 8px;position: fixed; }
fieldset { margin: 1.25em 0; }
legend { margin: 0; padding: 0; }
legend h2 { font-size: 1em; margin: 0; }
/* was causing a weird page jump. just hide it */
body > .at-only[inert] { display: none; }
details { margin: 1.25em 0; }
summary { cursor: default; margin-bottom: .825em; }
details p, details div { font-size: .825em; }
details code { background: #efefef; border: 1px solid #ddd;color: #000;display: inline-block;font-family: monospace;line-height: 1;padding: 2px 4px; }
main > section,
article > section { border-top: 1px solid;margin-top: 2em;padding-top: 1.5em;}
h3 span {display: inline-block;font-size: .75em;width: 100%;}
.callout-test {background: #eee;margin-left: -1.25em;padding: 1.25em;width: calc(100% + 2.5em);}
.callout-test > *:last-child { margin-bottom: 0; }
