/**
 * Trigger styling
 */
[data-modal-open][hidden] {
  display: none;
}

/**
 * When a modal dialog is open, don't allow scrolling of content
 * beneath (on desktop). Also useful in negating instances of
 * double scroll bars.
 * (browser window + dialog if long enough content)
 */
.js body.modal-open {
  overflow: hidden;
}

/**
 * Modal Dialog base styling
 */
.js [data-modal] {
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border: 2px solid;
  bottom: 0;
  box-shadow: 0 0 1800px 400px rgba(0,0,0,.4);
  display: block;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 660px;
  opacity: 1;
  overflow: auto;
  padding: 1.25em;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(0%);
  visibility: visible;
  width: 100%;
  z-index: 10; /* this should be more than enough... */
}

@media screen and ( min-height: 440px ) and ( min-width: 500px ) {
  .js [data-modal] {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }
}


/**
 * To allow for CSS animations, hidden modal dialogs are
 * not set to display: none, but rather the following rule
 * set, in combination with the dialog's default
 * position: fixed, will keep dialogs hidden from
 * all users until opened.
 */
.js [data-modal][hidden] {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20vh);
  visibility: hidden;
}


.is-icon-btn {
  background: none;
  position: absolute;
  right: .5em;
  top: .75em;
}
