/**
 * Trigger styling
 */
[data-modal-open][hidden] {
  display: none;
}

/**
 * When a modal dialog is open, don't allow scrolling
 * of content beneath (on desktop). Also useful in negating
 * instances of double scroll bars
 * (browser window + dialog if long enough content)
 */
.js body.modal-open {
  overflow: hidden;
}

/**
 * Modal Dialog base styling
 */
.js [data-modal] {
  background: #fff;
  border: 2px solid;
  bottom: .25em;
  box-shadow: 0 0 1800px 400px rgba(0,0,0,.4);
  display: block;
  left: .25em;
  margin: auto;
  max-width: 660px;
  opacity: 1;
  overflow: auto;
  padding: 1.125em 1.25em;
  position: fixed;
  right: .25em;
  top: .25em;
  transform: translateY(0%);
  visibility: visible;
  width: calc(100% - .5em);
  z-index: 10; /* this should be more than enough... */
}

@media screen and ( min-height: 440px ) and ( min-width: 500px ) {
  .js [data-modal] {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    transition:
      opacity .2s ease-in-out,
      transform .2s ease-in-out;
  }
}

/**
 * Continue to center dialog in viewport at with
 * determined by content, rather than stretching
 * out to take over whole screen.
 */
.js [data-modal][data-modal-compact] {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%);
}


/**
 * To allow for CSS animations, hidden modal dialogs are
 * not set to display: none, but rather the following
 * rule set, in combination with the dialog's default
 * position: fixed, will keep dialogs hidden from all users
 * until opened.
 */
.js [data-modal][hidden] {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20vh);
  visibility: hidden;
}


.is-icon-btn {
  background: none;
  position: absolute;
  top: .75em;
  right: .5em;
}
